<ion-view view-title="Menu">
    <ion-content class="padding">
        <button class="font button button-block button-calm">
            Graphs
        </button>
        <button class="font button button-block button-calm" ui-sref="chooseParty">
            Change Vote
        </button>
        <div class="row bottom">
            <div class="col">
                <button class="font button button-block button-calm">
                    Yes
                </button>
            </div>
            <div class="col">
                <button class="font button button-block button-calm">
                    No
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>